*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
img{
    width: 50px;
    height: 50px;
}
/* .logo{
    user-select: none;
    position: relative;
    color: #fff;
    font-size: 2em;
} */
.navigation a{
    position: relative;
    margin-left: 40px;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    font-size: 1.1em;
}
.navigation a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    bottom: -6px;
    left: 0;
    transition: transform .5s;
    transform: scaleX(0);
    
}
.navigation a:hover::after{
    transform: scaleX(1);
}
.navigation .btn{
    width: 130px;
    height: 50px;
    background: transparent;
    margin-left: 40px;
    cursor: pointer;
    outline: none;
    font-weight: 400;
    color: #fff;
    font-size: 1.1em;
    transition: 0.5s;
    border-radius: 6px;
    border: 2px solid black;
}
.navigation .btn:hover{
    background-color: #fff;
    color: black;
}
.wrap{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height 0.2s ease;
}
.wrap.active{
    height: 470px;
}
.wrap .form-login{
    width: 100%;
    padding: 40px;
}
/* .wrap .form-login{
    display: none;
} */
.wrap .form-login{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrap.active .form-login{
    transition: none;
    transform: translateX(-400px);
}
.wrap .form-register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrap.wrap.active .form-register{
    transition: transform .18s ease;
    transform: translateX(0);
}
.form-login h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
}
.input{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
.input input:focus~label,
.input input:valid~label{
    top: -5px;
}
.input label{
     position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    color: #162938;
    pointer-events: none;
    transition: .5s;


} 
.input input{
    height: 100%;
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    color: #162938;
    padding: 0 35px 0 5px;
}
.input .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}
.remember-forget{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;

} 
.remember-forget label input{
    accent-color: #162938;
    margin-right: 3px;
}
.remember-forget a{
    color: #162938;
    text-decoration: none;
}
.remember-forget a:hover{
    text-decoration: underline;
}
.butt{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.login-register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}
