*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-image: linear-gradient(135deg,#eb3349,#f45c43);
    min-height: 100vh;
    color: white;
    /* position: relative; */
}
header{
    font-size: 1.5rem;
}
header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input{
    width: 400px;
    margin-right: 20px;
    outline: none;
}
form input, form button{
    background: white;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
}
form button{
    color: greenyellow;
    cursor: pointer;
    background-color: black;
    transition: all 0.3s ease;
}
form button:hover{
    color: black;
    background-color: greenyellow;
}
.input-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.todo-list{
    min-width: 30%;
    list-style: none;
}
.todos-div{
    margin: 1.5rem;
    background-color: white;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todos-div li{
    flex: 1;
}
.complete-button, .delete-button{
    background-color: #e10d0d;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
}
.complete-button{
    background-color: rgb(72, 201, 7);
}
.list-todo{
    padding: 0rem 0.5rem;
}
.fa-trash, .fa-check{
    pointer-events: none;
}
.complete{
    text-decoration: line-through;
    opacity: 0.5;
}
/* .rotate{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
} */
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    appearance: none;

}
.select-options{
    margin: 1rem;
    position: relative;
    overflow: hidden;
    /* padding: 1rem; */
}
select{
    color:crimson;
    width: 10rem;
    cursor: pointer;
    padding: 0.5rem;
    /* pointer-events: none; */
}
.select-options::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    background-color: #e10d0d;
    padding: 0.5rem;
    cursor: pointer;
    pointer-events: none;
}
.edit-button{
    width: 45px;
    cursor: pointer;
}
/* form input {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  } */
  .list-todo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
  }
  .list-todo:hover{
    /* display: flex; */
    overflow: visible; 
    white-space: normal;
    max-width: 500px; 
}
.pop-up{
    width: 50px;
    height: 50px;
    background-color: black;
    margin: 0;
    position: absolute;
}
